#backdrop {
    height: 20rem;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: flex-end;
    color: #eee;
}

#backdrop .title {
    color: #fff;
    margin: 0px;
}

#rate {
    font-weight: 500;
}

.movie-details {
    color: var(--text-primary) !important;
}

.tagline{
    color: var(--text-secondary);
}

.tag.is-dark {
    background-color: var(--text-primary) !important;
    color: var(--bg-primary) !important;
}